<%= link("New role", to: admin_role_path(@conn, :new), class: "btn btn-primary") %>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Atom</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= for role <- @roles do %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.atom %></td>
        <td><%= link("Delete", to: admin_role_path(@conn, :delete, role.id),
          method: :delete) %></td>
      </tr>
    <% end %>
  </tbody>
<table>
